

.termOfUseMain {
  position: absolute;
  margin: 0 auto;
  color: black;
  text-align: center;
}

.privacyPolicyMain {
  position: absolute;
  margin: 0 auto;
  color: black;
  text-align: center;
}
